<div class="row justify-content-center mb-5">
  <h1 class="text-center text-white">Items</h1>
</div>

  <div class="row m-5">
    <div class="col-md-3" *ngFor="let item of items | itemNameFilter: searchText">
      <div class="card mb-4 border-white">
        <div class="card-body">
          <h2 class ="card-title">{{item.name}}</h2>
          <img src="assets/images/colour-laptops.jpg" alt="" class="img-fluid">
          <div class="row">
            <div class="col-md-12">
              <p class="card-text d-flex justify-content-between">
                <span>Price: €{{item.price}}</span>
                <span>Stock: {{item.stock}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-3">
    <section class="tiny-dialog">
      <div class="form-group">
        <label for="name">Find Item</label>
        <input id="name"
               name="name"
               class="form-control"
               placeholder="Filter by name"
               [(ngModel)]="searchText">
      </div>
    </section>

    <section id = "itemProfile" class="tiny-dialog fader">
      <div class = 'form-group'>
        <h4>Add an Item</h4>
        <form [formGroup]="createItemForm" (ngSubmit)="onSubmit()">
          <label>Name</label>
          <input for = "name" type="text" class = "form-control" formControlName="name" placeholder="Name">

          <label>Description</label>
          <input for = "kind" type="text" class = "form-control" formControlName="description" placeholder="Description">

          <!--        <label>Image</label>-->
          <!--        <input for = "image" type="text" class = "form-control" formControlName="image" placeholder="Image">-->

          <label>Price (€)</label>
          <input for = "profiletext" type=number class = "form-control" formControlName="price" placeholder="Price">

          <label>Stock</label>
          <input for = "profiletext" type=number class = "form-control" formControlName="stock" placeholder="Stock">
          <!--              <label>Popularity</label>-->
          <!--              <input for = "popularity" type="text" class = "form-control" formControlName="popularity" placeholder="Popularity">-->

          <button type="submit" class = "btn btn-primary">Add Item</button>
        </form>

      </div>
    </section>
  </div>
</div>




