<h2>Items</h2>
<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        <div class="gallery-pet fader" *ngFor="let item of items | itemNameFilter: searchText">
          <img class="profile-picture" [src]="'https://pettinder.herokuapp.com/images/kamiel.jpg'">
          <div class="overlay">
            <div class="overlay-text">{{item.name}} Price: €{{item.price}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <section class="tiny-dialog">
      <div class="form-group">
        <label for="name">Find Item</label>
        <input id="name"
               name="name"
               class="form-control"
               placeholder="Filter by name"
               [(ngModel)]="searchText">
      </div>
    </section>

    <section id = "itemProfile" class="tiny-dialog fader">
      <div class = 'form-group'>
        <h4>Add an Item</h4>
        <form [formGroup]="createItemForm" (ngSubmit)="onSubmit()">
          <label>Name</label>
          <input for = "name" type="text" class = "form-control" formControlName="name" placeholder="Name">

          <label>Description</label>
          <input for = "kind" type="text" class = "form-control" formControlName="description" placeholder="Description">

          <!--        <label>Image</label>-->
          <!--        <input for = "image" type="text" class = "form-control" formControlName="image" placeholder="Image">-->

          <label>Price (€)</label>
          <input for = "profiletext" type=number class = "form-control" formControlName="price" placeholder="Price">

          <label>Stock</label>
          <input for = "profiletext" type=number class = "form-control" formControlName="stock" placeholder="Stock">
          <!--              <label>Popularity</label>-->
          <!--              <input for = "popularity" type="text" class = "form-control" formControlName="popularity" placeholder="Popularity">-->

          <button type="submit" class = "btn btn-primary">Add Item</button>
        </form>

      </div>
    </section>
  </div>

</div>


